/* Dracula Theme */
body {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #f8f8f2;
}

a {
  color: #6272a4;
}

a:hover {
  color: #8be9fd;
}

p {
  margin-bottom: 1rem;
}
